/*This is the custom style overrides*/


@media (min-width: 768px) {

}



/*FORMS*/
/*******/

#rdm-add-item-form {
	min-height: 496px;
}

#rdm-add-item-form input[type=button] {
	background-color: rgba(255, 255, 255, .25);
}

#rdm-add-item-form select {
	height: 72px;
	margin-bottom: 138px;
	background-color: rgba(255, 255, 255, .25);

}

.rdm-form-col input[type=text], .rdm-form-col select {
	box-shadow: none;
	background-color: rgba(255, 255, 255, .25);
	color: #D1D4D8;
	border: 4px solid #FFF;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
}
.rdm-form-col input[type=text]:first-child {
	margin-bottom: 22px;
	padding-top: 8px;
	height: 72px;
}

.rdm-form-col input[type=text]:last-child {
	padding-top: 5px;
	height: 50px;
}

.rdm-form-col button.btn {
	height: 72px;
	margin-bottom: 43px;
	background-color: transparent;
	box-shadow: none;
	color: #FFF;
	border: 4px solid #FFF;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}

.rdm-form-col label {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
}

/*Spacing*/
.jumbotron {
	margin-bottom: 14px;
	padding-top: 86px;
	padding-bottom: 18px;
}

.rdm-bottom-spacer {
	height: 32px;
}

/*Fonts*/
.jumbotron h1 {
	font-size: 56pt;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3, .jumbotron h4, .jumbotron h5 {
	font-family: 'Merriweather';
	font-style: italic;
	font-weight: 500;
}

/*Colors*/
body {
	background-color: #798090;
	color: #FFF;
}

.jumbotron {
	background-color: transparent;
}

.jumbotron p {
	color: #8fffee;
	letter-spacing: 1px;
	line-height: 1.3;
	font-weight: 400;
	font-size: 23px;
	padding: 5px;
}

.rdm-header-block {
	/*colors for the block heading elements*/
	padding-top: 14px;
	padding-bottom: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;

}

.rdm-list-row {
	background-color: #FFF;
}

@media (min-width: 768px) {
	.rdm-list-row {
		margin-right: 0px;
	}

	.rdm-list-col {
		padding-right: 0;
	}

}

.rdm-list-row .list-group {
	margin-bottom: 0px;
}

.rdm-list-header {
	margin-top: 8px;
	margin-bottom: 0;
	padding-top: 21px;
	padding-bottom: 21px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b8c8db+0,495468+100 */
	background: #b8c8db; /* Old browsers */
	background: -moz-linear-gradient(top,  #b8c8db 0%, #495468 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #b8c8db 0%,#495468 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #b8c8db 0%,#495468 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8c8db', endColorstr='#495468',GradientType=0 ); /* IE6-9 */


}

.rdm-list-col {
	background-color: #FFF;
	min-height: 496px;
	padding-left: 8px;
	padding-right: 8px;
}

.rdm-list-col:last-child {
	padding-right: 8px;
}

.rdm-list-col ul {
	color: #333;
}

.rdm-list-col li {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 20px;
	border: none;
	padding: 16px 18px;
	letter-spacing;
}

.rdm-list-col .close {
	padding: 2px 6px;
	border-width: 2px;
	border-style: solid;
	border-radius: 7px;
	opacity: 1;
	text-shadow: none;

}

.rdm-list-col li:nth-child(odd) {
	background-color: #F2F3F4;
	color: #79818F;
}


.rdm-list-col li:nth-child(even) {
	background-color: #BCC0C8;
	color: #FFF;
}

.rdm-list-col li:nth-child(odd) .close {
	border-color: #79818F;
	color: #79818F;
}
.rdm-list-col li:nth-child(odd) .close:hover {
	background-color: rgba(121, 129, 143, 0.25);
}

.rdm-list-col li:nth-child(even) .close {
	border-color: #FFF;
	color: #FFF;
}
.rdm-list-col li:nth-child(even) .close:hover {
	background-color: rgba(255, 255, 255, 0.35);
}

.rdm-grey-grad-vert {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c2c9d7+0,818fa2+75 */
background: #c2c9d7; /* Old browsers */
background: -moz-linear-gradient(top,  #c2c9d7 0%, #818fa2 75%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #c2c9d7 0%,#818fa2 75%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #c2c9d7 0%,#818fa2 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2c9d7', endColorstr='#818fa2',GradientType=0 ); /* IE6-9 */


}